<article class="panel is-primary">
  <p class="panel-heading">
    Authors <%= link_to 'Create new author', new_author_path, class: 'button is-info' %>
  </p>
  <p class="panel-tabs">
  
  </p>
  <% @authors.each do |author| %>
    <%= link_to author.name, author, class: 'panel-block' %>
  <% end %>
</article>
